@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "font-title";
  src: url("./fonts/Supreme-Extrabold.otf") format("opentype");
}

@font-face {
  font-family: "font-subtitle";
  src: url("./fonts/Supreme-Bold.otf") format("opentype");
}

@font-face {
  font-family: "font-text";
  src: url("./fonts/Supreme-Light.otf") format("opentype");
}

body {
  background-color: #fafafa;
}

@media (prefers-color-scheme: dark) {

  body {
    background-color: #020617;
  }
  
}

h1 {
  font-family: "font-title";
}

h2, a {
  font-family: "font-subtitle";
}

p{
  font-family: "font-text";
}
